  <p id="notice"><%= notice %></p>

  <h1>Books</h1>

  <table class='table table-responsiveness table-striped table-bordered table-hover'>
    <thead>
      <tr>
        <th class='id_column'>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Entered By</th>
        <th colspan="2">Action(s)</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.author %></td>
          <td><%= book.genre.name %></td>
          <td><%= book.user.alias %> <span class="grey-text">( <%= book.user.first_name %> <%= book.user.last_name %> )</span></td>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Book', new_book_path, class: 'btn btn-default'  %>